body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    /* max-width: 1320px;
    align-items: center; */
}

nav {
    align-items: center;
    width: 1320px;
    height: 600px;
    background-image: url('../images/Banner\ Image.png');
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 0;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

.new-year-photo-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

nav .new-year-text {
    width: 259px;
    height: 40px;
    text-align: center;
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 400;
    padding: 177px 531px 0 530px;
    margin-bottom: 8px;
}

.new-year-party-text {
    width: 632px;
    height: 190px;
    padding: 0 344px 177px 344px;
    margin-top: 8px;
    text-align: center;
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.offer {
    align-items: center;
}

.off {
    margin-top: 120px;
    margin-bottom: 0;
    text-align: center;
    color: #F00;
    font-family: 'Inter';
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.our-holiday {
    margin-top: 48px;
    margin-bottom: 16px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.all-category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.new-year-photo {
    display: block;
    margin: 0 auto;
}

.welcome-to-party-container {
    align-items: center;
    display: block;
    margin: 120px auto;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    /* border-image-width: 100%; */
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
}

/* padding-left: 820px;
    padding-top: 80px; */

/* .welcome-to-party-container .welcome-party-2024 .welcome-paragraph{
    display: flex;
    /* width: 319.83px; */
/* height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
} */
*/ .welcome-title {
    /* color: #FFF; */
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.welcome-description {
    width: 697px;
    /* color: rgba(255, 255, 255, 0.80); */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.join-me {
    /* color: #FFF; */
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 120px;
}

.place-date-time-background {
    /* align-items: center;          
    
    fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
    /* width: 100%;
    height: 100%; */
    margin: 0 auto;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 16px
}

.place-date-time {
    /* background: fixed; */
    /* align-items: center;
    width: 550px;
    height: 168px; */
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place-date-time-color {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}